.app-header{
    height: 36px;
    background-color: #222;
    padding: 8px 32px 8px 16px;
    display: flex;
    justify-content: space-between;
}

.logo{
    background-color: #ff7f7f;
    height: 35px;
    animation: infiniteRotate infinite 8s linear;
}

@keyframes infiniteRotate {
    from { transform: scaleX(-1); }
  }